################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mandelbrot/out/build/x64-Debug
/Mandelbrot/CMakeSettings.json
